.heading2 {
    font-size: .875rem;
    font-family: NunitoSans,Nunito Sans,sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.picture {
    width: fit-content;
    height: fit-content;
}

.content {
    color: white;
    position: absolute;
    top: 10px;
    padding-left: 20px;
}

.image {
    position: relative;
    width: 100%;
}

.multiple {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img {
    will-change: transform;
    opacity: 1;
    display: block;
}

h2{
    letter-spacing: .03125rem;
    line-height: 1;
    text-transform: uppercase;
    --tw-text-opacity: 1;
    color: rgba(243,249,253,var(--tw-text-opacity));
    font-weight: 700;
    font-size: .875rem;
    margin-bottom: 2rem;
}