body {
    margin: 3px 29px;
    background: blue;
    color: white;
}

.heading2 {
    font-size: .897rem;
    font-family: NunitoSans,Nunito Sans,sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.picture {
    width: 19cm;
    height: 11cm;
    margin-right: auto;
    position: absolute;
    top: 57px;
}

.content {
    color: white;
    position: absolute;
    top: 57px;
    padding: 11px 130px 118px 36px;
}

.image {
    position: relative;
    width: 100%;
}
.multiple {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

img {
    will-change: transform;
    opacity: 1;
    border-radius: 20px;
}
h2{
    letter-spacing: .03125rem;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .875rem;
}

.position {
    top: 20px;
    position: relative;
    width: 20cm;
    height: 10cm;
}

.header {
    position: absolute;
    color: white;
    top: 20px;
    float: left;
}

.simple {
    font-size: 2rem;
    font-weight: 800;  
}

.paragraph {
    margin-bottom: 2rem;
    font-family: NunitoSans,Nunito Sans,sans-serif;
}

.info {
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.25rem;
}

.click {
    border: none;
    padding: 2px;
    background-color: rgb(14, 29, 241);
    border-radius: 24px;
    cursor: pointer;
    width: 153px;
    height: 56px;
    position: relative;
}

.click:hover {
    background-color: rgb(0, 178, 248);
    padding-right: 20px;
    transition: 0.5s;
}

.click span:after {
    content: '\00bb';
    position: absolute;
    transition: 0.5s;
}

.click span {
    padding: 9px;
    font-weight: 700;
    color: white;
    font-size: .87rem;
}

.click span:hover {
    color: blue;
    transition: 0.3s;
}

.click:active {
    transform: translateY(2px);
}    

.inline {
    text-decoration: underline orangered;
    font-weight: 700;
    line-height: 1.5;
    font-family: NunitoSans,Nunito Sans,sans-serif;
    cursor: pointer;
}

.inline:hover {
    text-decoration: underline white;
    color: orangered;
    transition: 0.5s;
}

.inline:active {
    transform: translateY(3px);
}

.inline1 {
    margin-left: auto;
    line-height: 4cm;
}

img.wrap-around-the-right-side {
    float: right;
    margin: 0 .75em .5em .75em;
}

p.no-wrap{
    clear: both;
}

nav {
    color: white;
    background-color: black;
    width: 100%;
    height: 50px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
}

a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}